.banner__content {
  position: relative;
  width: @min-width;
  height: 389px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    height: 518px;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }

  &::before {
    position: absolute;
    z-index: 5;
    display: block;
    content: "";
    width: 282px;
    height: 214px;
    top: 90px;
    left: 20px;
    background-image: url("../../img/icons/intro.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 461px;
      height: 349px;
      top: 90px;
      left: 150px;
      background-image: url("../../img/icons/intro-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      left: 370px;
      background-image: url("../../img/icons/intro-tablet.svg");
    }
  }
}

.banner__img {
  display: block;
  width: 320px;
  height: 389px;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    height: 100%;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
