.copyright {
  .container(150px, 0);

  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    padding: 0;
    margin: 0;
    justify-self: end;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
}

.copyright__img {
  display: block;
}
