.f-block__middle-f-block {
  // .lead-f-block;
  background-color: @marine;
  color: @basic-white;
  text-align: center;
  padding-top: 60px;

  height: 256px;
}

.f-block__text-content {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.f-block__text {
  display: block;
  margin: 0;

  &--leading {
    .font(@font-size: 18px, @font-weight: 700);
  }
}

.f-block__img {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 256px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
