.f-block {
  .lead-f-block;
}

.f-block__text-content {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.f-block__text {
  display: block;
  margin: 0;

  &--leading {
    .font(@font-family-normal, 18px, 700, @base-f-style, @base-l-height);
  }
}

.f-block__img {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
