.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
<<<<<<< HEAD
    .container(@width: @tablet-width, @padding: 36px);
=======
    .container(@width: @tablet-width, @padding: @tablet-padding);
>>>>>>> 9c69f36120e6e702d008c189106668e2f4ecd9f6

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "gallery media logo reviews reference";
    height: unset;
  }

  @media (min-width: @desktop-width) {
<<<<<<< HEAD
    .container(@width: @desktop-width, @padding: 60px);
=======
    .container(@desktop-width, @desktop-padding);
>>>>>>> 9c69f36120e6e702d008c189106668e2f4ecd9f6
  }
}

.main-nav__page-logo {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    grid-area: logo;
  }
}
