.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "gallery media logo reviews reference";
    align-items: center;
    width: @tablet-width;
    height: unset;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-nav__page-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 56px;

  @media (min-width: @tablet-width) {
    grid-area: logo;
    background-color: @basic-white;
  }
}

.main-nav__menu {
  width: 100%;
}
