.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    .container(@width: @tablet-width, @padding: @tablet-padding);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "gallery media logo reviews reference";
    height: unset;
  }

  @media (min-width: @desktop-width) {
    .container(@desktop-width, @desktop-padding);
  }
}

.main-nav__page-logo {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    height: 84px;
    grid-area: logo;
  }
}
