.page-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    .container(@tablet-width, @tablet-padding);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: @desktop-width) {
    .container(@desktop-width, @desktop-padding);
  }
}

.page-footer__text {
  .container();

  display: block;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
  }

  &--hashtag {
    .font(@font-size: 21px, @font-weight: 700);

    padding-top: 10px;
    padding-bottom: 30px;

    @media (min-width: @tablet-width) {
      width: 130px;
      margin: 0;
      padding: 0;
      justify-self: start;
    }
  }
}
