.rest {
  background-color: @basic-grey;
  color: @basic-black;
  text-align: center;
}

.rest__content {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding: 0 33px;
    padding-top: 50px;
    height: 256px;
  }
}
