.socials__title {
  .visually-hidden();
}

.socials__list {
  .clear-list();
  .container(150px, 0);

  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @marine;

  &:hover {
    background-color: @marine-hover;
  }

  &:active {
    background-color: @marine-active;
  }
}

.socials__img {
  fill: @basic-white;

  &:active {
    opacity: 0.3;
  }
}
