.font-face(@font-family, @file-path, @font-weight, @font-style) {
  @font-face {
    font-family: @font-family;
    src:
      url("@{file-path}.woff2") format("woff2"),
      url("@{file-path}.woff") format("woff");
    font-weight: @font-weight;
    font-style: @font-style;
  }
}

.font(@font-family, @font-size, @font-weight, @font-style, @line-height) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
  font-style: @font-style;
  line-height: @line-height;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

<<<<<<< HEAD
.container(@width, @padding) {
=======
.container(@width: @min-width, @padding: 30px) {
>>>>>>> 9c69f36120e6e702d008c189106668e2f4ecd9f6
  width: @width;
  padding: 0 @padding;
  margin: 0 auto;
}

.link-decoration {
  text-decoration: none;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button(@bg-color, @text-color) {
  background-color: @bg-color;
  color: @text-color;
}
