// basic colors
@basic-black: rgb(0, 0, 0);
@rgba-black-shadow: rgba(1, 1, 1, 0.2);
@rgba-white-shadow: rgba(255, 255, 255, 0.2);
@basic-white: rgb(255, 255, 255);
@marine: #81B3D2;

// sizes
@min-width: 320px;
@desktop-width: 1200px;
@tablet-width: 768px;
@mobile-width-only: 320px;

// paddings

@desktop-padding: 100px;
@tablet-padding: 60px;
@min-padding: 30px;

// fonts
@base-f-family: "PT Sans", Arial, sans-serif;
@base-f-size: 16px;
@base-f-weight: 400;
@base-f-style: normal;
